<div class="container-fluid h-100" id="container-main">
    <div class="container h-100">
        <div class="row h-100 justify-content-center align-items-center">
            <div class="col-2">
                <div class="mb-3">
                    <label for="number_cashiers" class="form-label">Número do Caixa</label>
                    <input type="text" class="form-control" id="number_cashiers" value="1" disabled>
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="login" class="form-label">Login</label>
                    <input type="text" class="form-control" id="login" placeholder="name@example.com">
                </div>
            </div>
            <div class="col-4">
                <div class="mb-3">
                    <label for="password " class="form-label ">Senha</label>
                    <input type="password " class="form-control " id="password " placeholder="1234 ">
                </div>
            </div>
            <div class="col-2">
                <div class="mb-negative-1">
                    <button type="button " class="btn btn-primary"> Entrar</button>
                </div>
            </div>
        </div>
    </div>
</div>