<header class="row p-1">
    <div class="col-2">
        <button type="button" class="btn btn-primary">Abertura de Caixa</button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary">Fechamento de Caixa</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-primary">Sangria</button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary">Venda Balcão</button>
    </div>
    <div class="col-2">
        <button type="button" class="btn btn-primary">Venda Delivery</button>
    </div>
    <div class="col-1">
        <button type="button" class="btn btn-primary">Enviar</button>
    </div>
    <div class="col-2">
        <h1> BASPDV</h1>
    </div>
</header>