<div class="container-fluid h-100" id="bas-sale-container">
    <!-- Header -->
    <header class="row p-1">
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-md btn-block">Abertura de Caixa (F1)</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-md btn-block">Fechamento de Caixa (F2)</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-md btn-block">Sangria (F3)</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-md btn-block">Venda Balcão (F4)</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-md btn-block">Venda Delivery (F5)</button>
        </div>
        <div class="col-2">
            <button type="button" class="btn btn-primary btn-md btn-block" (click)="finalizeSale()">Finalizar Venda (F6)</button>
        </div>
    </header>
    <!-- End header -->

    <bas-alert-danger [description]="descriptionError" [visible]=visibleError></bas-alert-danger>

    <bas-alert-success [description]="descriptionSuccess" [visible]=visibleSuccess></bas-alert-success>

    <div class="row mt-5 div-form">
        <!-- Sale  -->
        <div role="main" class="col-md-8">
            <form [formGroup]="form" (ngSubmit)="onSubmit()">
                <!-- Product Id -->
                <div class="form-group row">
                    <div class="col-4">
                        <label for="bas-product-id"> Código do Produto </label>
                        <input id="bas-product-id" class="form-control input-sm" type="text" (keyup.enter)="onEnterProductId($event.target.value)" formControlName="product_id">
                    </div>
                </div>
                <!-- End Product Id -->

                <!-- Description -->
                <div class="form-group row">
                    <div class="col-12">
                        <label for="bas-product-description"> Descrição </label>
                        <input id="bas-product-description" class="form-control input-sm" type="text" formControlName="description">
                    </div>
                </div>
                <!-- End Description -->

                <!-- Qtd. Unit Value Total -->
                <div class="form-group row">
                    <div class="col-4">
                        <label for="bas-product-quantity"> Quantidade </label>
                        <input id="bas-product-quantity" class="form-control input-sm" type="text" (keyup.enter)="onEnterQuantity($event.target.value)" (input)="onChangeQuantity($event.target.value)" formControlName="quantity">
                    </div>
                    <div class="col-4 ">
                        <label for="bas-product-unit-value"> Valor Unitário </label>
                        <input id="bas-product-unit-value" class="form-control input-sm" type="text" formControlName="unit_price">
                    </div>
                    <div class="col-4 ">
                        <label for="bas-product-total-value"> Total </label>
                        <input id="bas-product-total-value" class="form-control input-sm" type="text" formControlName="total_value">
                    </div>
                </div>
                <!-- End Qtd. Unit Value Total -->

                <!-- Sub Total -->
                <div class="form-group row">
                    <div class="col-4 ">
                        <label for="bas-product-total-sub"> Sub. Total </label>
                        <input id="bas-product-total-sub" class="form-control input-sm" type="text" formControlName="total_sub">
                    </div>
                </div>
                <!-- End Sub Total -->
            </form>
        </div>
        <!-- End Sale -->

        <!--  Coupon  -->
        <aside role="complementary" class="col-md-4">
            <bas-coupon [coupon]=coupon></bas-coupon>
        </aside>
        <!-- End Coupon  -->
    </div>
</div>